html,
body{
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    font-size: 1.1em;
    color: white;
    font-family: arial;
}

.__react_component_tooltip {
    background-color: rgb(16, 16, 16) !important;
    color:rgb(232, 232, 233) !important;
    font-size: 0.8em !important;
}